<table style="width: 100%">
<thead>
	<tr>
		<td>&nbsp;</td>
		<td>Datum/Zeit</td>
		<td>Anrufer</td>
		<td>Ziel</td>
		<td>Dauer</td>
		<td>Angenommen</td>
		<td>Port</td>
	</tr>
</thead>
<tbody>
	<tr>
		<td style="white-space: nowrap;"><img height="16" src="#icon" width="16"></td>
		<td style="white-space: nowrap;">#date</td>
		<td style="white-space: nowrap;">#caller</td>
		<td style="white-space: nowrap;">#called</td>
		<td style="white-space: nowrap;">#duration</td>
		<td style="white-space: nowrap;">#device</td>
		<td style="white-space: nowrap;">#port</td>
	</tr>
</tbody>
</table>